.jumbotron {
  padding-top: 2rem;
  background-color: #e1c78f;
  text-align: center;
}
#projects {
  background-color: #e1c78f;
}
h1 {
  font-family: optima;
}
footer {
  background-color: #fae7c9;
}
